@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-MediumItalic.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}	
body{
	font-family: "Lato";
}
header{
	font-family: "Roboto";
}
mark{
	color: aqua;
}
.red {
	color: crimson;
}
.creating mark{
	color: rgb(119, 0, 255);
}
mark.red{
	color: azure;
}
#b1{
	color: coral;
}
li{
	color: blue;
}
li.red{
	color: rgb(0, 255, 0);
}
h2{
	color: crimson;
}
h2.main{
	color: darkkhaki;
}
.title.main{
	color: forestgreen;
}
.skott{
	color: darkmagenta;
}
.text.lesson{
	color: blue;
}
.text.lesson p{
	color: rgb(191, 255, 0);
}
.text>p{
	color: fuchsia;
}
.lesson{
	color: grey;
}
.text~p{
   color: coral;
}